<git-config>
    <!-- Collection in eXistdb to sync app to. example: /db/apps/tcadrt -->
    <exist-collection>/db/apps/logar</exist-collection>
    <!-- Github repository name. example: srophe-eXist-app -->
    <repo-name>logar-app</repo-name>
    <!-- Google map key -->
    <map-key></map-key>
    <email>
        <smtp>library.vanderbilt.edu</smtp>
        <contact>
            <to>s.wernke@vanderbilt.edu</to>
            <bcc>wsalesky@gmail.com</bcc>
        </contact>
    </email>
</git-config>
