/* Application styles could go here */
/*
 * Colors:
 * Dark red: 753C28
 * Dark orange: B3522B
 * Light orange: E69849
 * Pale tan: F5F2E9
 * Dark Blue: 456889
 * Blue/grey: A2B1B9
 * Light Blue: DDEAF1
 * Dark Grey #333
 * Light Grey (text): #999
 */
/*#map {height: 180px;}*/
.map-lg {margin:0;padding:0;}
.map-wrapper { position: relative; }
#over_map { position: absolute; top: 10px; left: 10px; z-index: 99; }
#map-filter
{
    position: absolute; 
    top: 0px; 
    right: 0px; 
    z-index: 99;
}
#showFilters{
    margin-top:-1em;
    padding:1em;
    padding-top:2em;
    width  : 350px;
    max-height: 95% !important;
    /*height : 380px;*/
    background: white;
}
.dropSheet
{
    background-color/**/: #000000;
    background-image/**/: none;
    opacity: 0.95;
    filter: alpha(opacity=50);
}