/* Full page map styles */

body, html, #main, #content, .map-lg, #map-data {
  height: 100% !important;
  width: 100%;
  margin: 0;
  padding: 0;
} 
body{ position: relative;}
#map-data{margin-bottom:3em; height: 100%;} 
#map{
    min-height: 500px;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0;
}

#map-filter
{
    position: absolute; 
    top: 50px; 
    right: 0px; 
    z-index: 99;
}
#showFilters{
    margin-top:-1em;
    padding:1em;
    padding-top:2em;
    width  : 300px;
    max-height: 95% !important;
    /*height : 380px;*/
    background: white;
}
.dropSheet
{
    background-color/**/: #000000;
    background-image/**/: none;
    opacity: 0.95;
    filter: alpha(opacity=50);
}